<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Load the properties file: sport.properties -->
	<context:property-placeholder location="classpath:sport.properties"/>
	
    <!-- Define your beans here -->
    
    <bean id="myCoach"
    	class="com.pbg.springdemo.library.TrackCoach">
    	
    	<!-- Now set up a Constructor Injection - For Dependency Injection Demo-->
    	<constructor-arg ref="myFortuneService"/>
    	
    </bean>
    
    
    <!-- ** Dependency Injection Demo ** -->
    <!-- Constructor Injection Demo -->
    <!-- First Define your bean here -->
    <bean id="myFortuneService"
    	class="com.pbg.springdemo.library.HappyFortuneService">
    </bean>
    <!-- Now setup the constructor Injection in 'myCoach' bean above & voila you are done-->
    
    <!-- * Setter Injection Demo & Literal Value Injection Demo * -->
    <!-- First Define your bean here -->
    <bean id="myCricketCoach"
    	class="com.pbg.springdemo.library.CricketCoach">
    	
    	<!-- Set up our Setter Injection -->
    	<property name="fortuneService" ref="myFortuneService" />
    	
    	<!-- Inject literal values -->
    	<property name="emailID" value="pranavbganore@gmail.com" />
    	<property name="teamName" value="Mumbai Indians" />
    	
    	<!-- Inject values from a properties file -->
    	<!-- make sure you have loaded the properties file as shown on line 10 -->
    	<property name="coachName" value="${foo.coach}" />
    	<property name="stateName" value="${foo.state}" />
    	
    </bean>





</beans>





